In [1]:
# Import Dependencies
import pandas as pd
import numpy as np

In [2]:
# Create reference to CSV file
csv_election = "Resources/election_data.csv"

# Import the CSV into a pandas DataFrame
election_df = pd.read_csv(csv_election)
election_df

        Ballot ID     County                Candidate
0         1323913  Jefferson  Charles Casper Stockham
1         1005842  Jefferson  Charles Casper Stockham
2         1880345  Jefferson  Charles Casper Stockham
3         1600337  Jefferson  Charles Casper Stockham
4         1835994  Jefferson  Charles Casper Stockham
...           ...        ...                      ...
369706    4714953   Arapahoe     Raymon Anthony Doane
369707    4497542   Arapahoe     Raymon Anthony Doane
369708    4085849   Arapahoe     Raymon Anthony Doane
369709    4592018   Arapahoe     Raymon Anthony Doane
369710    4660518   Arapahoe     Raymon Anthony Doane

[369711 rows x 3 columns]

In [3]:
#cleanUp

In [4]:
#Total number of votes cast
totalVotes = len(election_df)
totalVotes

369711

In [5]:
# Creating a Data Frame that groups by canidate and their vote count
electionResult_df = election_df.groupby(["Candidate"])
electionResultTotal_df = electionResult_df.count()
electionResultTotal_df = electionResultTotal_df.rename(columns = {"Ballot ID": "Total Votes"})
electionResultTotal_df = electionResultTotal_df[["Total Votes"]]
electionResultTotal_df

                         Total Votes
Candidate
Charles Casper Stockham        85213
Diana DeGette                 272892
Raymon Anthony Doane           11606

In [6]:
mostVotes = electionResultTotal_df.max()
mostVotes

Total Votes    272892
dtype: int64

In [7]:
#Create a new column that finds the percentage of each canidate
electionResultTotal_df["Percentage of Votes (%)"] = electionResultTotal_df[["Total Votes"]] / totalVotes * 100
electionResultTotal_df

                         Total Votes  Percentage of Votes (%)
Candidate
Charles Casper Stockham        85213                23.048543
Diana DeGette                 272892                73.812248
Raymon Anthony Doane           11606                 3.139209

In [8]:
#The winner of the election based on popular vote
electionResultWinner_df = electionResultTotal_df.sort_values("Percentage of Votes (%)", ascending=False)

electionResultWinner_df

                         Total Votes  Percentage of Votes (%)
Candidate
Diana DeGette                 272892                73.812248
Charles Casper Stockham        85213                23.048543
Raymon Anthony Doane           11606                 3.139209

In [9]:
#Always will have the winner (popular vote) displayed
np.winner = list(electionResultWinner_df.index.values)
winner = np.winner
winner = winner[0]
winner

'Diana DeGette'

In [15]:
#The Printout card
print("Election Results")
print("-------------------------"),
print(electionResultWinner_df),
print("-------------------------"),
print("winner: " + winner),
print("-------------------------")

Election Results
-------------------------
                         Total Votes  Percentage of Votes (%)
Candidate
Diana DeGette                 272892                73.812248
Charles Casper Stockham        85213                23.048543
Raymon Anthony Doane           11606                 3.139209
-------------------------
winner: Diana DeGette
-------------------------

In [9]:
#text file writing