In [13]:
# Import Dependencies
import pandas as pd
import numpy as np

In [14]:
# Create reference to CSV file
csv_budget = "Resources/budget_data.csv"

# Import the CSV into a pandas DataFrame
budget_df = pd.read_csv(csv_budget)
budget_df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [15]:
#The total months in the period
periodMonths = len(budget_df)
periodMonths

86

In [16]:
#The df that contains all the changes between each month
budget_df["Changes"] =  budget_df["Profit/Losses"].diff()
budget_df

      Date  Profit/Losses    Changes
0   Jan-10        1088983        NaN
1   Feb-10        -354534 -1443517.0
2   Mar-10         276622   631156.0
3   Apr-10        -728133 -1004755.0
4   May-10         852993  1581126.0
..     ...            ...        ...
81  Oct-16        -729004 -1627245.0
82  Nov-16        -112209   616795.0
83  Dec-16         516313   628522.0
84  Jan-17         607208    90895.0
85  Feb-17         382539  -224669.0

[86 rows x 3 columns]

In [17]:
#The total profits/losses for the period
periodTotal = budget_df["Profit/Losses"].sum()
periodTotal

22564198

In [18]:
#The average change each month
periodAvg = budget_df["Changes"].mean()
periodAvg = round(periodAvg,2)
periodAvg

-8311.11

In [30]:
#The max change per month
periodMax = budget_df.max()
periodMaxDate = periodMax["Date"]
periodMaxChanges = periodMax["Changes"]

In [31]:
#period Max date variable value check
periodMaxDate

'Sep-16'

In [32]:
#period Max Changes variable value check
periodMaxChanges

1862002.0

In [23]:
#The Min change per month
periodMin = budget_df.min()
periodMinDate = periodMin["Date"]
periodMinChanges = periodMin["Changes"]

Apr-10
-1825558.0

In [24]:
#period Min date variable value check
periodMinDate

'Apr-10'

In [25]:
#period Min Changes variable value check
periodMinChanges

-1825558.0

In [34]:
#The print out card
print("Financial Analysis"),
print("----------------------------"),
print("Total Months: " + str(periodMonths)),
print("Total : $" + str(periodTotal)),
print("Average Change: $" + str(periodAvg)),
print("Greatest Increase in Profit: " + str(periodMaxDate) + "; Amount: " + str(periodMaxChanges)),
print("Greatest Decrease in Profit: " + str(periodMinDate) + "; Amount: " + str(periodMinChanges))

Financial Analysis
----------------------------
Total Months: 86
Total : $22564198
Average Change: $-8311.11
Greatest Increase in Profit: Sep-16; Amount: 1862002.0
Greatest Decrease in Profit: Apr-10; Amount: -1825558.0